<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="pattern" value="%d{HH:mm:ss.SSS} %level [%logger] %msg%n" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>
    <appender name="SIFT-INFO" class="ch.qos.logback.classic.sift.SiftingAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <discriminator>
            <Key>loggerFileName</Key>
            <DefaultValue>TestFile-All</DefaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${loggerFileName}-INFO" class="ch.qos.logback.core.FileAppender">
                <File>logs/${loggerFileName}.log</File>
                <Append>false</Append>
                <encoder>
                    <pattern>%d{HH:mm:ss.SSS} %level [%logger] %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>
    <appender name="SIFT-ERROR" class="ch.qos.logback.classic.sift.SiftingAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <discriminator>
            <Key>loggerFileName</Key>
            <DefaultValue>TestFile-All</DefaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${loggerFileName}-ERROR" class="ch.qos.logback.core.FileAppender">
                <File>logs/${loggerFileName}-ERROR.log</File>
                <Append>false</Append>
                <encoder>
                    <pattern>%d{HH:mm:ss.SSS} %level [%logger] %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>
    <appender name="SIFT-DEBUG" class="ch.qos.logback.classic.sift.SiftingAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <discriminator>
            <Key>loggerFileName</Key>
            <DefaultValue>TestFile-Debug</DefaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${loggerFileName}-Debug" class="ch.qos.logback.core.FileAppender">
                <File>logs/${loggerFileName}-DEBUG.log</File>
                <Append>false</Append>
                <encoder>
                    <pattern>%d{HH:mm:ss.SSS} %level [%logger] %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="SIFT-INFO" />
        <appender-ref ref="SIFT-ERROR" />
        <appender-ref ref="SIFT-DEBUG"/>
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
