# registries configuration
modules:
  - name: schema-registry
    className: org.apache.registries.schemaregistry.webservice.SchemaRegistryModule
    config:
      schemaProviders:
        - providerClass: "org.apache.registries.schemaregistry.avro.AvroSchemaProvider"
          defaultSerializerClass: "org.apache.registries.schemaregistry.serdes.avro.AvroSnapshotSerializer"
          defaultDeserializerClass: "org.apache.registries.schemaregistry.serdes.avro.AvroSnapshotDeserializer"
      # schema cache properties
      # inmemory schema versions cache size
      schemaCacheSize: 10000
      # inmemory schema version cache entry expiry interval after access
      schemaCacheExpiryInterval: 3600

# Filesystem based jar storage
fileStorageConfiguration:
  className: "org.apache.registries.common.util.LocalFileSystemStorage"
  properties:
    directory: "/tmp/schema-registry/jars"

# storage provider configuration
storageProviderConfiguration:
 providerClass: "org.apache.registries.storage.impl.memory.InMemoryStorageManager"

#swagger configuration
swagger:
  resourcePackage: org.apache.registries.schemaregistry.webservice

#enable CORS, may want to disable in production
enableCors: false

server:
  rootPath: '/api/*'
  applicationConnectors:
    - type: http
      port: 9090

# Logging settings.
logging:
  level: INFO
  loggers:
    org.apache.registries: INFO

  