version: '2.3'
services:

  # Schema Registry application gets installed under /opt/hortonworks-registry-`version` directory
  registry:
    build:
      context: "images/registry"
      dockerfile: "Dockerfile"
      args:
        - "REGISTRY_VERSION=0.5.0"
    image: schema-registry
    ports:
      - "9010-9020:9090"
      - "9030-9040:9091"
    depends_on:
      mysql-dev:
        condition: service_healthy
      kafka:
        condition: service_started
    links:
      - mysql-dev
    environment:
      DB_TYPE: mysql
      DATA_SRC_CLASS_NAME: com.mysql.jdbc.jdbc2.optional.MysqlDataSource
      DB_URL: jdbc:mysql://mysql-dev/schema_registry
      DB_USER: registry_user
      DB_PASSWORD: password
    volumes:
      - "./logs:/opt/registrylogs:rw"

  mysql-dev:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: schema_registry
      MYSQL_USER: registry_user
      MYSQL_PASSWORD: password
    ports:
      - "3308:3306"
    volumes:
      - "./mysql-data:/var/lib/mysql:rw"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "--silent"]

  # Zookeeper gets installed under /opt/zookeeper directory
  zookeeper:
    image: zookeeper:3.4.11
    ports:
      - "2181:2181"
    volumes:
      - "./zk-data:/data:rw"
      - "./zk-datalog:/datalog:rw"

  # Kafka gets installed under /opt/kafka directory
  kafka:
    image: wurstmeister/kafka
    ports:
      - "9092:9092"
      - "1099:1099"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: localhost
      KAFKA_ADVERTISED_PORT: 9092
      KAFKA_PORT: 9092
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_CREATE_TOPICS: "log_test0:1:1"
      KAFKA_BROKER_ID: 0
      KAFKA_JMX_OPTS: "-Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.authenticate=false
                       -Dcom.sun.management.jmxremote.ssl=false -Djava.rmi.server.hostname=127.0.0.1
                       -Dcom.sun.management.jmxremote.rmi.port=1099"
      JMX_PORT: 1099
    depends_on:
      zookeeper:
        condition: service_started
    links:
      - zookeeper
    volumes:
      - "./kafka-data:/kafka:rw"

