<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.hortonworks" level="DEBUG"/>
    <logger name="com.cloudera.dim" level="DEBUG"/>
    <logger name="com.hortonworks.registries.shaded.org.glassfish.jersey" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>